.button {
    font: inherit;
    border: 1px solid #292929;
    border-radius: 8px;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  
  .button + .button {
    margin-left: 1rem;
}
  
  .button:hover,
  .button:active {
    background: #00000060;
    border-color: #252525;
  }
  
  .button:focus {
    outline: none;
  }